<%= render 'shared/side_nav' %>
<%= render 'shared/navbar' %>

<div class="d-flex justify-content-center my-4">
  <h1>Edit student</h1>
</div>

<div class="d-flex justify-content-center">
  <div class="w-25 d-flex justify-content-start my-2">
    <div>
      <%= link_to 'Back', root_path(@student.id), class: "btn btn-info" %>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center">
  <div class="card w-25">
    <div class="card-body">
      <%= form_for(@student, url: student_path(@student), method: :patch) do |f| %>
        <div class="mb-3">
          <%= f.label :name, class: "form-label" %><br />
          <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= f.label :email, class: "form-label" %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", required: true %>
        </div>

        <div class="mb-3">
          <%= f.submit "Edit Student", class: "btn btn-success mt-4 w-100 rounded-pill"%>
        </div>
      <% end %>
    </div>
  </div>
</div>